GlobalBlock {
	-fx-background-color:rgb(200,200,200); 
}

MenuBar {
	-fx-background-color: brown;
}

LeftMenu {
	-fx-background-color: red;
}

RightMenu {
	-fx-background-color: red;
}

Label{
	-fx-font-size: 1.5em; 
}

/* ID for Menu button */
#menu{
	-fx-font: bold italic 1.5em "Arial";
    -fx-effect: dropshadow(one-pass-box , black , 10 , 0 , 2 , 2); 
}